@media (min-width: 992px) {
    .container.quote {
        max-width: 100% !important;
    }

    .quote-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .quote-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .quote-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

.error p {
    text-align: left;
    border-radius: 0.5em;
    color: red!important;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

.input-error {
    border-left-color: red!important;
    border-color: red!important;
}

.register-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.password,
.repeat-password,
.email {
    margin-top: 20px;
}

p.reg-log-span {
    margin-top: 10px;
}

.form-control:focus {
    box-shadow: 0 0 0 .10rem black;
}

.btn-primary{
    border-color: white !important;
    background-color: black !important;
}

a {
    color: red;
}

