<div class="container-fluid bg-light overflow-hidden">
    <div class="container about">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 image-container">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="footer.png" style="object-fit: cover;"
                        alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="information-container">
                    <h1 class="display-5 mb-4 boardgames-title">My profile</h1>
                    <div class="row g-4 mb-4 pb-3">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center">

                                <div class="ms-4">
                                    <h2 class="mb-1" data-toggle="counter-up">{{profileDetails.username}}</h2>
                                    <p class="fw-medium text-primary mb-0">Username</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center">

                                <div class="ms-4">
                                    <h2 class="mb-1" data-toggle="counter-up">{{profileDetails.email}}</h2>
                                    <p class="fw-medium text-primary mb-0">Email</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a type="button" onclick="window.history.back()"
                        class="btn btn-primary rounded-pill py-3 px-5">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>