@media (min-width: 992px) {
    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

.image-container {
    height: 500px;
}

.information-container {
    text-align: center;
    padding-left: 100px;
    padding-top: 60px;
}

.boardgames-title {
    font-family: 'Baloo 2', cursive;
    font-size: 3rem;
    color: red;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }

  .text-primary {
    color: red !important;
  }

  .btn-primary {
    color: white;
    background-color: black;
    border-color: white;
  }

  .btn-primary:hover {
    color: white;
    background-color: red;
    border-color: black;
  }



  