<div class="container-fluid p-0">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="main-image" src="home2.jpg" alt="">
            <div class="carousel-inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="main-title">Welcome to Creepy Meeple, Player One!</h1>
                            <p class="fs-5 text-white mb-4 pb-2 main-message">Now it's your turn to outplay, outwit, laugh, or tremble with fear. Either way, welcome to the table!</p>
                            <a href="" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>