.form-wrapper {
    width: 30%;
    margin: 0 auto;
    padding: 40px;
}

.form-wrapper h2 {
    text-align: center;
}

.form-wrapper .new-btn {
    margin-top: 20px;
}

.new-btn:hover {
    background-color: red !important;
    border-color: black !important;
    box-shadow: none;
}

.new-btn:active {
    background-color: red !important;
    border-color: black !important;
    box-shadow: none;
}

.new-btn:disabled {
    background-color: red !important;
    border-color: black !important;
    box-shadow: none;
}

.new-btn:focus {
    background-color: red !important;
    border-color: black !important;
    box-shadow: none;
}

.btn-primary {
    border-color: white;
    background-color: black;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: red;
    border-color: black;
}

.container-edit {
    background-image: url('../../../assets/img/addEdit.jpg');
    background-size: cover;
    background-position: center center;
}

h2 {
    color: red;
    font-weight: 500;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 20px !important;
}

p.error {
    text-align: left;
    border-radius: 0.5em;
    color: red!important;
    padding-top: 10px;
    font-weight: bold;
}

.input-error {
    border-left-color: red!important;
    border-color: red!important;
}
