<div class="container-fluid p-0">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="main-image" src="chess.jpg" alt="">
            <div class="carousel-inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="main-title">Page not found</h1>
                            <p class="fs-5 text-white mb-4 pb-2 main-message">Sorry, we couldn’t find the page you’re looking for.</p>
                            <a routerLink="/home" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Go Back Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>